<div id="employee-form">
<h1 class="app-title">Employee Manager</h1>
<label for="">ID: </label><input type="text" name="" id="emp-id" value="201">
<br>
<label for="">Name: </label><input type="text" name="" id="emp-name" value="John Doe">
<br>
<label for="">Designation: </label><input type="text" name="" id="emp-desig" value="Developer">
<br>
<input type="button" value="Save" id="addEmp">
</div>
<table id="employee-table">
    <tr class="table-head">
        <td>Employee ID</td>
        <td>Name</td>
        <td>Designation</td>
        <td></td>
    </tr>
</table>
<div class="footer"><input type="button" value="Clear All" id="empty"></div>
